<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap" rel="stylesheet">

    <!-- CDN BOOTSRAP -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.css' integrity='sha512-+QrNe4Kul4TNKwDK+EJM71C9z5I9I/iYLEIJPYTfmXouMSU8tkayWYnOsAKjDAaOOH21+MS747IPTYcD+2euuQ==' crossorigin='anonymous'/>

    <!-- SCRIPT VUE -->
    <script src="https://unpkg.com/vue@3"></script>

    <!-- CSS LINK -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon-16x16.png">

    <title>To-Do List</title>
</head>

<body>

    <div class="container cp_container" id="app">

        <!-- logo -->
        <img :src="logo" alt="logo">

        <!-- aggiungi task -->
        <div class="row m-auto">
            <div class="col-9">
                <input class="form-control text-center" id="exampleFormControlInput1" placeholder="Nuova task. . ."
                v-model.trim="newTaskText">
            </div>
            <div class="col-3">
                <button 
                type="submit" 
                class="btn btn-success mb-3 position-relative"
                @click="addTask()">Aggiungi
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                    {{tasks.length}}
                  </span>
                </button>
            </div>
        </div>

        <!-- task inserite -->
        <div class="row mt-4">

            <!-- messaggio di errore -->
            <div 
            class="alert alert-danger text-center fw-bold" 
            role="alert"
            v-if="textErrorMsg">
                &#9940; {{textErrorMsg}}
              </div>
              
            <ul class="list-group">
                
                <li 
                class="list-group-item d-flex justify-content-between py-3 my-2"
                v-for="(task, index) in tasks">
                    <span 
                    class="fs-5 fst-italic"
                    :class="{'text-decoration-line-through fst-normal' : task.done}"
                    @click="task.done = !task.done">{{task.text}}</span>
                    
                    <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    @click="deleteTask(index)"></button>
                </li>

              </ul>
        </div>

        <!-- nessuna task presente -->
        <div 
        class="alert alert-success text-center fw-bold" 
        role="alert"
        v-if="tasks.length === 0">
           Non ci sono task presenti. &nbsp;Aggiungine una! &#8987;
          </div>
          
    </div>

    <!-- SCRIPT JS -->
    <script src="assets/js/script.js"></script>
</body>
</html>