/* css */

body{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); 
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
}

.cp_container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

img{
    margin: 50px 0;
    width: 20vw;
    margin: 50px auto;
}

ul li{
    transition: all .5s;
}

ul li:hover{
    background-color: lightgray;
    cursor: pointer;
}